@-moz-document url("about:home"),
url("about:blank"),
url("about:newtab"),
url("about:privatebrowsing") {

    html:not(#ublock0-epicker),
    html:not(#ublock0-epicker) body,
    #newtab-customize-overlay {
        background-color: #181818 !important
    }

    .title,
    .section-title span,
    .topic,
    .edit-topsites-wrapper .edit-topsites-button button {
        color: #FFF !important;
        /*title color */
    }

    .section-title span,
    .prefs-pane-button button {
        fill: #FFF !important;
    }

    .topic .topic-link,
    .topic .topic-read-more {
        color: #FFF !important;
        /*text color */
    }

    .collapsible-section.active {
        background: #333333 !important;
    }

    /*
    button,
    input {
        color: #FFF
    }
    */
}

/* 
html#ublock0-epicker,
#ublock0-epicker body {
    background: transparent !important;
    color: black !important;
    font: 12px sans-serif !important;
    height: 100% !important;
    margin: 0 !important;
    overflow: hidden !important;
    width: 100% !important;
} */