@-moz-document url("about:home"),
url("about:blank"),
url("about:newtab"),
url("about:privatebrowsing") {
    body {
        background-color: #181818 !important
    }

    .title,
    .section-title span,
    .topic,
    .edit-topsites-wrapper .edit-topsites-button button {
        color: #FFF !important;
        /*title color */
    }

    .section-title span,
    .prefs-pane-button button {
        fill: #FFF !important;
    }

    .topic .topic-link,
    .topic .topic-read-more {
        color: #FFF !important;
        /*text color */
    }

    .collapsible-section.active {
        background: #333333 !important;
    }

    /*
    button,
    input {
        color: #FFF
    }
    */
}

/*
@-moz-document url("about:home"),
url("about:newtab") {

    .search-wrapper,
    .tile {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
    }

    .card-outer {
        border-radius: 15px !important;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
    }

    html {
        height: 100% !important
    }

    .title,
    .section-title span,
    .topic,
    .edit-topsites-wrapper .edit-topsites-button button {
        color: #FFF !important;
    }

    .section-title span,
    .prefs-pane-button button {
        fill: #FFF !important;
    }

    .topic .topic-link,
    .topic .topic-read-more {
        color: #FFF !important;
    }
}
*/